<div class="header">
	<h2>SVG container</h2>
	<p>Use this to visualise SVG margins, padding and dimensions.</p>
  <p>Add d3 directives to the d3-vis SVG container to do stuff.</p>
  <p>The origin is in the top left corner of the inner rectangle.</p>
</div>

 <h3>Visible margins</h3>
<div d3-vis d3-dot-grid along="10" down="5" radius="5"
  fullWidth="600" woff="41"
  margin="20 20 20 20" padding="5 5 5 5" 
  responsive="true" visible="true">
</div>

<h3>Invisible margins</h3>
<div d3-vis d3-dot-grid along="10" down="5"
  fullWidth="300" fullHeight="200" woff="41"
  margin="20 20 20 20" padding="5 5 5 5" 
  responsive="true" >
</div>