<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title> Mathmo </title>
    <meta name="description" content="mathematics A-level question generator fluency syllabus curriculum answer" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0"/>
    <meta name="author" content="NRICH team"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="apple-touch-icon-precomposed" href="/mathmoApp/scripts/pubs/mathmo/img/icon.png"/>
    <% if (config.environment === 'prod') { %>
      <link rel="stylesheet" href="styles/styles.min.css?_=v<%= config.uniqueVersion() %>" />

    <% } else { %>
      <link rel="stylesheet" href="/styles/styles.css" />
    <% } %>

    <!--[if lte IE 7]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script><![endif]--><!--[if lte IE 8]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <script type="text/javascript"
       src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </head>

  <body ng-cloak class="ng-cloak">
    <div ng-show="false">
      <section>
        <h1>Mathmo interactive A-level workbook</h1>
        <p>Mathmo generates an endless number of A-level mathematics questions for the UK A-level mathematics syllabus which you can use to improve your fluency.</p>
      </section>
    </div>
    <div class="wrapper">
      <!--
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <button ng-click="dropHeaderMenu = !dropHeaderMenu" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="brand">Mathmo v<span app-version></span></a>
            <div collapse="!dropHeaderMenu" class="nav-collapse">
              <div ng-include="'/views/nav.html'"></div>
            </div>
          </div>
        </div>
      </div>
      -->
      <div class="container main-content">
        <div ng-view></div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p><small><a href="https://github.com/gmp26/Apps1.git">source</a></small></p>
      </div>
    </footer>
    <% if (config.environment === 'prod') { %>
      <script src="scripts/scripts.min.js?_=v<%= config.uniqueVersion() %>"></script>
    <% } else { %>
      <script data-main="/scripts/main.js" src="/scripts/libs/require.js"></script>
    <% } %>
  </body>
</html>
