/* add mathmo specific styles here */

input[type="text"]:focus.ng-invalid {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

.line {
  stroke-width: 1;
  stroke-opacity: 1.0;
  fill: none;
}

.tick text {
  font-size:10px;
}

.mathmo .nav {
  margin-bottom:10px;
}

.modal-body.share textarea {
  width: 80%;
}

ol.exercise ul.exercise {
  list-style-type: lower-roman;
}

/*
.container {
    margin-left:15px;
    min-width:50%;
    -moz-transition:width 100ms;
    -webkit-transition:width 100ms;
    -o-transition:width 100ms;
    -transition:width 100ms;
}
*/
