@import "bootstrap.less";

.ng-cloak {
	display: none;
}

body {
  position: relative;
}

.view {
	display: inline-block;
}

.canvas-container {
	display: inline-block;
}

canvas {
  border: 1px solid red;
}