<style>
	input[type="number"] {
		width:50px;
		height: 30px;
		font-size: 18px;
	}
	em {
		font-weight:bold;
		font-size:1.2em;
	}

	.bad {
		color:#ee8833;
		font-size: 1.2em;
	}

	.good {
		color:#3388ee;
		font-size: 1.2em;
	}

</style>


<h1>Boomerangs</h1>

<p>Phil and Cath make and sell boomerangs for a school event.               
	The money they raise will go to charity.</p>

<p>They plan to make them in two sizes: small and large.</p> 

<p>Phil will carve them from wood.
	The small boomerang takes 2 hours to carve and the large one takes 3 
	hours to carve.             
	Phil has a total of 24 hours available for carving.</p>

<p>Cath will decorate them. 
	She only has time to decorate 10 boomerangs of either size.</p>

<p>The small boomerang will make $8 for charity. 
	The large boomerang will make $10 for charity.
	They want to make as much money for charity as they can. </p>

<p>How many small and large boomerangs should they make?</p>

<p>How much money will they then make?</p>


<h2>Let's experiment</h2>

<div ng-controller="boomerangController">
	<p>Suppose Phil makes <input type="number" ng-model="small" ng-init="small=1" style="width:50px" min="0"> small and <input type="number" ng-model="large" ng-init="large=1" style="width:50px" min="0"> large boomerangs.</p>
	<p>Carving {{small}} <em>small</em> boomerangs will take <em>{{2 * small}}</em> hours.</p>
	<p>Carving {{large}} <em>large</em> boomerangs will take <em>{{3 *large}}</em> hours.</p>
	<br>
	<p class="{{ carveTimeOK() }}">Phil will need <em>{{ carveTime() }}</em> hours to carve them all.</p>
	<p class="{{ decTimeOK() }}">Cath has to decorate <em>{{ decTime() }}</em> boomerangs.</p>
	<br>
	<p><em>{{small}}</em> small boomerangs will make <em>${{8*small}}</em>.</p>
	<p><em>{{large}}</em> large boomerangs will make <em>${{10*large}}</em>.</p>
	<br>
	<p>Total amount made will be <em>${{ total() }}</em></p>
</div>