<div class="header">
  <h2>Tilted Squares <a href="http://nrich.maths.org/2293">NRICH 2293</a></h2>
  <p>Find a quick way to work out the area of the square even if it is tilted.</p>
  <p><i>This version uses SVG rather than canvas</i></p>
</div>


<div d3-vis d3-dot-grid along="10" down="5"
  fullWidth="600" woff="41"
  margin="20 20 20 20" padding="5 5 5 5" 
  responsive="true" visible="true">
</div>

<div d3-vis d3-dot-grid along="10" down="5"
  fullWidth="300" fullHeight="200" woff="41"
  margin="20 20 20 20" padding="5 5 5 5" 
  responsive="true" visible="true">
</div>