<div ng-controller="mathmoController" class="mathmo">

  <div class="well well-large">
    <h1>Mathmo</h1>
    <p>An exercise generator for A-level mathematics</p>
    <form name="addQSetForm">

      <div class="input-append">

        <input type="text" name="name" placeholder="name" required ng-model="newData.name" ng-minlength="4"></input>

        <button class="btn" ng-disabled="!addQSetForm.name.$valid"  ng-click="addQSet()"><i class="icon-plus"></i> Add</button>

      </div>
      <p><small>Enter an exercise name of 4 characters or more and press <code>Add</code> to start.</small></p>

    </form>
  </div>

  <tabs>
    <pane heading="Help">
      <h5>Getting Started</h5>
      <p>
      Use the input box in the <a ng-click="openAbout()" href="">Mathmo</a> header to add a new named exercise. Each exercise appears in a new tab. Click on the tab to add questions on any of a large choice of topics. These same questions stay with you until you choose to delete them.
      </p>

      <h5>Mathmo remembers</h5>
      <p>
      When you close down mathmo, your exercises will be remembered in local storage. When you return to mathmo, the same exercises and questions will be restored. Even if you start mathmo on a different computer, you can generate the same questions by creating an exercise with the same name.
      </p>

      <p>This works because the random number generator used to generate questions is seeded from:
        <ul>
          <li>The exercise name</li>
          <li>The question topic</li>
          <li>The question number within a topic.</li>
        </ul>
      When all of these are the same mathmo generates the same question.
      </p>

      <h5>Sharing</h5>
      <p>You can share questions with your friends. Press the share button to see available methods.</p>

    </pane>
    <pane ng-repeat="pane in panes" heading="{{pane.name}}" active="pane.active">
      <!--
      <div style="margin-bottom:20px;">
        <button class="btn btn-primary" style="float:left" ng-click="openAddQ(pane)">Add a question</button>
        <button class="btn btn-danger" tooltip="Delete exercise {{pane.name}}" tooltip-placement="left" style="float:right" ng-click="delQSet($index)"><i class="icon-remove icon-white"></i></button>
      </div>
      -->
      <div ng-repeat="qa in pane.questions" class="well well-large">
        <h5 style="float:left">Q{{$index+1}}: {{qa.topic}}</h5>
        <div class="btn-group" style="float:right" tooltip="Similar questions" tooltip-placement="top">
          <button class="btn" ng-click="prevOnTopic(qa, $index)">Prev</button>
          <button class="btn" ng-click="nextOnTopic(qa, $index)">Next</button>
        </div>
        <p ng-bind-html-unsafe="qa.q" style="clear:both"></p>

        <!-- yellow answer button
        <button class="btn btn-warning" ng-click="qa.toggle()"><i class="icon-chevron-down icon-white"></i> answer</button>
        -->
        <a ng-click="qa.toggle()" href="">
          <span ng-show="qa.isCollapsed">
            <i class="icon-chevron-down"></i> show answer
          </span>
          <span ng-hide="qa.isCollapsed">
            <i class="icon-chevron-up"></i> hide answer
          </span>
        </a>
 
        <div collapse="qa.isCollapsed">
           <div ng-switch on="qa.isGraph()" >
            <div ng-switch-when="html">
              <div ng-bind-html-unsafe="qa.a"></div>
            </div>
            <div ng-switch-when="graph">
              <div ng-show="showSketchWarning()">
                <alert type="warning" close="closeSketchWarning()">Your own sketch should label significant features of the graph.</alert>
              </div>
              <div d3-vis
                fullWidth="350" fullHeight="300"
                margin="0 0 20 0"
                padding="10 10 20 30"
                woff = "100"
                responsive="true" visible="true">
                <div mathmo-plot data="qa.graphData" style="position:relative"></div>
              </div>

              <!-- {{qa.graphData}} -->

            </div>
            <span ng-switch-default>default</span>
          </div>
        </div>

      </div>

      <div>
        <button class="btn btn-primary" style="float:left" ng-click="openAddQ(pane)">Add a question</button>
        <button class="btn btn-danger" tooltip="Delete exercise {{pane.name}}" tooltip-placement="left" style="float:right" ng-click="delQSet($index)"><i class="icon-remove icon-white"></i></button>
      </div>

    </pane>
  </tabs>


  <hr/>

  <div class="well" style="padding-bottom:28px">
    Copyright University of Cambridge
    <button class="btn btn-danger" style="float:right" tooltip="delete all exercises" tooltip-placement="top" ng-click="clearAll()">Clear all</button>
    <span style="float:right">&nbsp;</span>
    <button class="btn btn-info" style="float:right" tooltip="Credits etc." tooltip-placement="top"  ng-click="openAbout()">About</button>
  </div>


  <div modal="addQOpen" close="closeAddQ()" options="addQOpts">
    <div class="modal-header">
      <h3>Add a question</h3>
      <h4>on topic</h4>
    </div>
    <div class="modal-body">
      <accordion close-others="false">
        <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
          <div class="btn-group btn-group-vertical row-fluid">
            <button class="btn span12" ng-repeat="id in group.topicIds" ng-show="topicAvailable(id)" ng-click="appendQ(id)">{{topicTitleById(id)}}</button>
          </div>
        </accordion-group>
      </accordion>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="closeAddQ()">Close</button>
    </div>
  </div>

  <div modal="aboutOpen" close="closeAbout()" options="aboutOpts">

    <div class="modal-header">
        <h4><img src="scripts/pubs/mathmo/img/icon.png"> About Mathmo</h4>
    </div>
    <div class="modal-body">
       Mathmo is designed to give you extra fluency practice in A-level mathematics.
      <br>

      <h3>Updates</h3>
      Mathmo is a web application, and should update itself when you reload the app after it has been updated on the server. 
      <a href="http://nrich.maths.org/7088" target="_blank">Further info here</a>.

      <h3>Credits</h3>
      <p>
      Syllabus hugging ideas: Stephen Hewson
      </p>
      <p>
      Question and Answer generators:
       Tom White, Edward Cree, with unit tests by Ben Millwood.
      </p>
      <p>
      <a href="http://github.com/gmp26/mathmo">HTML5/Angular Implementation:</a> Mike Pearson.
      </p>

      <p>
      Mathmo is now based on <a href="http://angularjs.org">Angular</a>, 
      <a href="http://angular-ui.github.io/bootstrap">Angular UI Bootstrap</a>,
      the <a href="d3js.org">d3 SVG toolkit</a> from Mike Bostock, and the
      <a href="http://www.mathjax.org/">MathJAX library</a> for TeX rendering.
      </p>

      <h3>License</h3>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"></a><br><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Mathmo</span> by the <a xmlns:cc="http://creativecommons.org/ns#" href="http://nrich.maths.org" property="cc:attributionName" rel="cc:attributionURL">NRICH Project, University of Cambridge</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.<br>Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://github.com/gmp26/Apps1" rel="dct:source">github.com</a>.

    </div>

    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="closeAbout()">Close</button>
    </div>
  </div>



</div>