
<ul class="nav" ng-controller="appController">
  <li ng-class="getClass('/tiltedApp')"><a ng-href="#/tiltedApp">tilted (using canvas)</a></li>
  <li ng-class="getClass('/d3Tilted')"><a ng-href="#/d3Tilted">tilted (using SVG)</a></li>
  <li ng-class="getClass('/svgMargins')"><a ng-href="#/svgMargins">SVG layout</a></li>
  <li ng-class="getClass('/frogs')"><a ng-href="#/frogs">Frogs</a></li>
  <li ng-class="getClass('/spinners')"><a ng-href="#/spinners">Spinners</a></li>
  <li ng-class="getClass('/todo')"><a ng-href="#/todo">todo (with unit tests)</a></li>
  <li ng-class="getClass('/boomerangs')"><a ng-href="#/boomerangs">Boomerangs</a></li>
</ul>