
<ul class="nav" ng-controller="appController">
  <li ng-class="getClass('/tilted')"><a ng-href="#/tilted">tilted (using SVG)</a></li>
  <li ng-class="getClass('/frogs/single')"><a ng-href="#/frogs/single/1246/2/2">Frogs: Single user</a></li>
  <li ng-class="getClass('/frogs/class')"><a ng-href="#/frogs/class/1247/3/3">Frogs: Class use</a></li>
  <li ng-class="getClass('/spinners')"><a ng-href="#/spinners">Spinners</a></li>
  <li ng-class="getClass('/prob9546')"><a ng-href="#/prob9546">Which team will win?</a></li>
  <li ng-class="getClass('/prob9525')"><a ng-href="#/prob9525">The dog ate my homework</a></li>
  <li ng-class="getClass('/todo')"><a ng-href="#/todo">todo (with unit tests)</a></li>
  <li ng-class="getClass('/boomerangs')"><a ng-href="#/boomerangs">Boomerangs</a></li>
  <li ng-class="getClass('/mathmo')"><a ng-href="#/mathmo">Mathmo</a></li>
</ul>