<div ng-controller="prob9546Controller">

  <div class="header">
    <h3>Which Team Will Win? <a href="http://nrich.maths.org/9546">NRICH 9546</a></h3>
  </div>

  <div class="row-fluid">
    <div class="span9">
      <p>
        Every weekend, Team Beaver and Team Yeti play each other at 2-Goal Football - they play until two goals have been scored.  Sometimes games last only a minute or two, sometimes they seem to go on for ever.
      </p>
      <p>
        Over a 36-week season, which team is likely to win more games?  
      </p>
      <div svg-check class="row-fluid">
        <!--
        <input type="number" ng-model="spinVar[0].value"></input>
        <input type="number" ng-model="spinVar[1].value"></input>
        -->
        <div class="span6">
          <h3>Goal 1</h3>
          <div d3-vis ng-click="go()"
            fullWidth="220" fullHeight="220" woff="41"
            margin="0" padding="15 15 15 15" 
            responsive="false" visible="true">
            <div d3-spinner spinner="goal1" ng-model="$parent.spinVar[0].value"></div>
          </div>
        </div>
        <div class="span6">
          <h3>Goal 2</h3>
          <div d3-vis ng-click="$parent.go()"
            fullWidth="220" fullHeight="220" woff="41"
            margin="0" padding="15 15 15 15" 
            responsive="false" visible="true">
            <div d3-spinner spinner="goal2" ng-model="$parent.spinVar[1].value"></div>
          </div>
        </div>
      </div>
    </div>
  <div>


</div>