<div class="header">
	<h2>Tilted Squares <a href="http://nrich.maths.org/2293">NRICH 2293</a></h2>
	<p>Find a quick way to work out the area of the square even if it is tilted.</p>
</div>

<div svg-margin-convention ng-controller="svgBoilerPlateController" >
</div>

<div d3-tilted-square="ts2" 
  down="18" along="18" radius="4" spacing="35"
  ax = "6" ay="11"
  bx = "10" by="10"
  color="#2c8"
  fill="#a04">
</div>

<div tilted-square="ts3" 
  down="18" along="18" radius="4" spacing="35"
  ax = "6" ay="11"
  bx = "10" by="10"
  color="#2c8"
  fill="#a04">
</div>


